@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';
@import './styles/diff.css';

.App {
  background-color: #282a36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 55px; /** HACKS **/
}

.app-navbar {
  background-color: #282a36;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex: 1;
}

.sideBar {
  width: calc(30%);
}
.mainContent {
  width: calc(70%);
}

.List {
  border: 1px solid #d9dddd;
}

.historyItemEven,
.historyItemOdd {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.historyItemEven {
  background-color: #44475a;
}

.historyItemContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
