@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 55px; /** HACKS **/
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex: 1;
}

.sideBar {
  width: calc(30%);
}
.mainContent {
  width: calc(70%);
}

.List {
  border: 1px solid #d9dddd;
}

.historyItemEven,
.historyItemOdd {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.historyItemEven {
  background-color: #394b59;
}

/* .historyItemContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.gitDiffCollapseButton {
  width: 100%;
}

.diff-gutter-insert,
.diff-gutter-delete,
.diff-code-insert,
.diff-code-delete {
  color: #282c34;
}
.diff-code,
.diff-code-normal,
.diff-gutter {
  background-color: #394b59;
}

/* These rules are not being applied */
.diff-code-delete {
  background-color: #f1c4c7;
}

.diff-gutter-delete {
  background-color: #e89da5;
}

.diff-item-header {
  background-color: aqua;
  width: '100%';
}
